.head-bar{
	position:absolute;
	top:0;
	left:0;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	width:100%;
	
}
#DateCountdown{
	
	display:block;
	width: 500px; 
	height: 125px; 
	padding: 0px;
}
#intro {
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body{
	background-color: #000;
  color: #fff;
  min-height: 100vh;
  width:100%;
  font-family:  serif;
  margin: 0;
 
}

p {
  font-size: 3rem;
  text-align:center;
  max-width: 60rem;
  text-shadow: 0 0 10px rgba(222, 24, 96, 0.91);
}

q {
  quotes: '\201c' '\201d';
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}
/*ADDED LATER  02022017*/
		@font-face {
			font-family: 'morps';
			src: url('../fonts/MORPHEUS.TTF'); 
		}
		@font-face {
			font-family: 'harlowsolid';
			src: url('../fonts/HARLOWSI.TTF'); 
		}
		@font-face {
			font-family: 'vijaya';
			src: url('../fonts/vijayab.ttf'); 
		}
		@font-face {
			font-family: 'footlight';
			src: url('../fonts/FTLTLT.TTF'); 
		}
		@font-face {
			font-family: 'datefont';
			src: url('../fonts/FTLTLT.TTF'); 
		}
		.event_name
		{
			font-size:5rem;
			font-family:'morps';
			text-decoration:underline;
			text-align:center;
		}
		.event_name_img{
			width:100%;
			height:auto;
		}
		#demo-canvas {
			position: absolute;
			top: 0;
			left: 0;
		}
		.clg_name{
			font-family:'footlight';
			text-align:center;
		}
		.small{
			font-family:'harlowsolid';
			font-size:2.5rem;
			text-align:center;
		}
		.desp{
			font-family:'footlight';
			display:block !important;
			font-size:2.2rem;
		}
		.date{
			font-family:'datefont';
			display:block;
			font-size:2.5rem;
		}
/*  */
@media all and (max-width: 850px) {
  p {
    font-size: 2rem;
    margin: 2rem;
  }
}
@media all and (max-width: 500px) {
  body {
    background-position-y: -200px;
    background-position-x: center;
  }
  p{
  	width:100%;
  }
}
@media all and (max-width: 500px) {
	.head-bar{
		display:none;
	}
	.event_name
		{
			font-size:4rem;
			font-family:'morps';
			text-decoration:underline;
			text-align:center;
		}
	.clg_name{
			font-family:'footlight';
			text-align:center;
		}
		.small{
			font-family:'harlowsolid';
			font-size:1.7rem;
			text-align:center;
		}
		.desp{
			font-family:'footlight';
			display:block !important;
			font-size:1.6rem;
		}
		.date{
			font-family:'datefont';
			display:block;
			font-size:2rem;
		}
}